body {
    background-image: url("../images/aquarium.jpg");
    background-size: cover;
}

img {
    position: fixed;
}

#fish1Id {
    left: 250px;
    top: 250px;
    width: 250px;
    height: 250px;
}

#fish2Id {
    left: 500px;
    top: 250px;
    width: 150px;
    height: 150px;
}
#fish3Id {
    left: 500px;
    top: 250px;
    width: 150px;
    height: 150px;
}

#fighterFish{
    width: 250px;
    height: 200px;
}
#seahorse{
    
    position: relative;
    height: 200px;
    width: 200px;
}

.bubbleClass {
    width: 100px;
    height: 100px;
}
#houseOfOctopus{
    position: fixed;
    bottom: 0;
    right: 0;
}
#octopus{
    position: fixed;
    bottom: 0;
    right: 0;
}

/* #bubble1Id{
    position: relative;
} */